@import "tailwindcss";

@theme {
  --color-tech-black: #0a0a0a;
  --color-ivan-blue: #0071e3;
  --color-card-dark: #1c1c1e;
}

body {
  background-color: var(--color-tech-black);
  color: white;
  font-family: sans-serif;
}